{% extends 'base.html.twig' %}

{% block title %}Hello InvoiceController!
{% endblock %}

{% block body %}
	<style>
		#commande {
			margin-top: 150px;
		}
	</style>
	<section id="commande">
		<table class="table">
			<thead>
				<tr>
					<th>Facture</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for invoice in invoices %}
					{% if user.firstname == invoice.firstname %}
						<tr>
							<td>{{invoice.name}}</td>
							<td>
								<a class="btn btn-primary" href="{{ path('invoice_show',{'id':invoice.id}) }}">Voir</a>
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>

		</table>
	</section>
{% endblock %}
