<section id="check-email" class="py-5">
	<div class="container">
		<div class="title text-center">
			<img src="/upload/logo.png" alt="" style="width: 100px; height:100px">
		</div>
		<div class="row g-0">
			<div class="container check-email">
				<div class="title text-center">
					<h1>Bonjour!</h1>
				</div>
				<p>Vous avez récemment fait la demande d'un nouveau mot de passe pour votre compte Techfortech.</p>
				<div class="title text-center">
					<p>Veuillez cliquer sur le lien suivant pour réinitialiser votre mot de passe :
					</p>
					<a class="btn btn-primary" href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>
					<p>Ce lien expirera dans
						{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
				</div>
				<div class="title text-center">

					<p>Si vous rencontrez des difficultés, veuillez contacter l'administrateur de l'espace membre.</p>

				</div>

			</div>
		</div>
	</section>
