{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="container reset-password_reset ">
    <h1 class="h1-top">RÉINITIALISATION DE MOT DE PASSE</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
</div>

{% endblock %}
