{% extends 'base.html.twig' %}

{% block title %}Tous nos produits
{% endblock %}

{% block body %}
	<style>
		body {
			background-color: #03a9f4;
		}
		.filter_cc {
			margin-top: 150px;
			display: flex;
			gap: 30px;
		}
		.paginationT {

			border: 1px solid black;
		}
		@media(max-width:672px) {
			.filter_cc {
				flex-direction: column;
			}
			.table {
				{
					width: 40%;
				}
			}
		}
	</style>

	<div class="container filter_cc ">

		{% include 'product/_filter.html.twig' with {form:form} only%}

		<div class="row col-lg-8 tables">
			{% for product in products %}
				{% include 'product/_cardTable.html.twig' with {product:product} only%}
			{% endfor %}

		</div>

	</div>


{% endblock %}
