<div class="col-md-6 col-lg-4 col-xl-3 p-2 ">
	<div class="collection-img position-relative">
		<img src="/upload/images/products/LD0005869780_1.jpg" class="w-100">
	</div>
	<div class="text-center">
		<p class="text-capitalize my-1">
			<a href="{{ path('categoryp_show', {'id': categoryp.id}) }}">{{categoryp.name}}</a>
		</p>
	</div>
</div>
