<div class="col-md-6 col-lg-4 col-xl-3 p-2 ">
	<div class="collection-img position-relative">
		<img src="/upload/images/products/{{categoryp.file}}" class="w-80 ">
	</div>
	<div>
		<p class="text-capitalize ">
			<a href="{{ path('categoryp_show', {'name': categoryp.name}) }}">{{categoryp.name}}</a>
		</p>
	</div>
</div>
