<style>
	.container {
		margin-top: 150px;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		align-content: center;
	}
</style>
<div class="container">
	{% for category in categories %}
		{% if category.category == categoryps %}
			<div class="card" style="width: 18rem;">
				<img src="/upload/images/products/{{category.file}}" class="w-100 card-img-top "/>
				<div class=" card-body">
					<a href="#" class="btn">{{ category.name }}</a>
				</div>
			</div>
		{% endif %}

	{% endfor %}
</div>
